.scrollBanking {
    animation: scrollz linear 0.2s;
}

.scrollBankings {
    animation: scrolls linear 0.3s;
}

@keyframes scrollz {
    from {
        transform: translateY(60px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes scrolls {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(360px);
    }
}